In [105]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 
from sklearn.preprocessing import MinMaxScaler

In [38]:
df=pd.read_csv('D:\customer (1).csv')
df.iloc[:20,::]

    age  gender   review education purchased
0    30  Female  Average    School        No
1    68  Female     Poor        UG        No
2    70  Female     Good        PG        No
3    72  Female     Good        PG        No
4    16  Female  Average        UG        No
5    31  Female  Average    School       Yes
6    18    Male     Good    School        No
7    60  Female     Poor    School       Yes
8    65  Female  Average        UG        No
9    74    Male     Good        UG       Yes
10   98  Female     Good        UG       Yes
11   74    Male     Good        UG       Yes
12   51    Male     Poor    School        No
13   57  Female  Average    School        No
14   15    Male     Poor        PG       Yes
15   75    Male     Poor        UG        No
16   59    Male     Poor        UG       Yes
17   22  Female     Poor        UG       Yes
18   19    Male     Good    School        No
19   97    Male     Poor        PG       Yes

In [101]:
from sklearn.model_selection import train_test_split
x_train , x_test , y_train , y_test = train_test_split(df.drop(['age','gender','purchased'],axis=1),
                                                        df['purchased'],
                                                        test_size = 0.3)
x_train.head(20)

     review education
15     Poor        UG
8   Average        UG
39     Poor        PG
10     Good        UG
20  Average    School
6      Good    School
13  Average    School
29  Average        UG
24  Average        PG
44  Average        UG
0   Average    School
28     Poor    School
18     Good    School
21  Average        PG
1      Poor        UG
19     Poor        PG
36     Good        UG
38     Good    School
41     Good        PG
23     Good    School

In [102]:
x_test.head(20)

     review education
5   Average    School
35     Poor    School
2      Good        PG
37  Average        PG
9      Good        UG
7      Poor    School
22     Poor        PG
31     Poor    School
14     Poor        PG
45     Poor        PG
33     Good        PG
3      Good        PG
27     Poor        PG
42     Good        PG
30  Average        UG

In [110]:

# scaler = MinMaxScaler()
# scaler.fit(x_train)

In [111]:
from sklearn.preprocessing import OrdinalEncoder
oe = OrdinalEncoder (categories=[["Poor","Average","Good"],["School","UG","PG"]]) 
oe.fit(x_train)
x_train_1 = oe.transform(x_train)
x_train_1

array([[0., 1.],
       [1., 1.],
       [0., 2.],
       [2., 1.],
       [1., 0.],
       [2., 0.],
       [1., 0.],
       [1., 1.],
       [1., 2.],
       [1., 1.],
       [1., 0.],
       [0., 0.],
       [2., 0.],
       [1., 2.],
       [0., 1.],
       [0., 2.],
       [2., 1.],
       [2., 0.],
       [2., 2.],
       [2., 0.],
       [1., 1.],
       [0., 2.],
       [0., 2.],
       [2., 0.],
       [0., 1.],
       [2., 0.],
       [2., 1.],
       [0., 1.],
       [2., 1.],
       [0., 0.],
       [1., 1.],
       [2., 2.],
       [2., 1.],
       [1., 0.],
       [0., 2.]])